<main class="flex">

  <nav class="border-b-2 flex border-t border-gray-200 py-4 w-full items-center text-sm dark:border-gray-800">
    <div class="px-4 flex items-center space-x-2">
      <a class="font-semibold flex items-center space-x-2 text-base" href="#"
      ><svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="h-6 w-6"
      >
      <path d="m7.5 4.27 9 5.15"></path>
      <path
      d="M21 8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16Z"
      ></path>
      <path d="m3.3 7 8.7 5 8.7-5"></path>
      <path d="M12 22V12"></path></svg
      ><span>Course University</span></a
      >
    </div>
    <div class="px-4 flex items-center space-x-2">
    <a class="flex  items-center space-x-2" routerLink="/"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="w-4 h-4 rounded-full bg-gray-300"
        >
        <path
          d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H20v20H6.5a2.5 2.5 0 0 1 0-5H20"
          ></path></svg
      ><span class="font-medium">Courses</span></a
      >
    </div>
  </nav>

  <div class="border-b-2 border-t border-gray-200  dark:border-gray-800">  
    <a class="mt-4 px-4 flex items-center space-x-2" routerLink="/profile">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="w-4 h-4 rounded-full bg-gray-300"
    >
      <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
      <circle cx="9" cy="7" r="4"></circle>
      <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>
      <path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg
    >
    <span class="font-medium text-sm">Profile</span>
    </a>
</div>
</main>